<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinp.proapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".module.wanandroid.activity.SettingActivity"></activity>
        <activity
            android:name=".module.customview.activity.TestTriangleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity android:name=".module.wanandroid.activity.WanRankActivity" />
        <activity android:name=".module.wanandroid.activity.WanSysActivity" />
        <activity android:name=".module.wanandroid.activity.WanCollectionActivity" />
        <activity android:name=".module.wanandroid.activity.WanMeActivity" />
        <activity
            android:name=".module.customview.activity.TestClipCircleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity android:name=".module.customview.activity.CustomViewActivity" />
        <activity
            android:name=".module.wanandroid.activity.WandroidActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 玩Android首页 -->
        <activity
            android:name=".activity.AddUndeterminedActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 添加今日待做任务 -->
        <activity
            android:name=".web.webview.WebViewActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 统一的webview -->
        <activity
            android:name=".activity.MajorActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 首页 -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 登录页面 -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>